name: CI

on:
  push:
  pull_request:

jobs:
  # --- Job 1 : Postman / Newman (API) ---
    # --- Job 1 : Postman / Newman (API) ---
  newman:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Start Juice Shop (for Newman)
        run: |
          docker run -d --name juice -p 3000:3000 bkimminich/juice-shop
          npx wait-on http://localhost:3000 -t 600000

      - name: Run Postman tests with Newman
        run: |
          npm install -g newman
          # (optionnel) vérifier que le fichier existe
          ls -la Preuves
          newman run Preuves/juice-api.postman_collection.json

      - name: Stop Juice Shop
        if: always()
        run: docker rm -f juice || true

  # --- Job 2 : Cypress - SMOKE UNIQUEMENT ---
  cypress_smoke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Start Juice Shop
        run: |
          docker run -d --name juice -p 3000:3000 bkimminich/juice-shop
          npx wait-on http://localhost:3000 -t 600000

      - name: Cypress smoke (auth + home)
        uses: cypress-io/github-action@v6
        with:
          start: ""
          wait-on: http://localhost:3000
          wait-on-timeout: 600000
          spec: cypress/e2e/*-smoke.cy.js   # <<< exécute tous les *-smoke
          browser: chrome


      - name: Stop Juice Shop
        if: always()
        run: docker rm -f juice || true
